{% extends "base.html" %}
{% set active_page = "calculator" %}

{% block title %}Cloud Cost Calculator{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-1 ">
  <h2 class="h3">Cloud Migration Cost Estimator</h2>
</div>
<p class="lead">Enter the details of your on-premise workloads. The calculator will estimate the cost of running your workloads using Elotl on public cloud.
</p>
<p class="small"><i>Note: The estimated cost only includes the cost of compute instances and storage. Charges for network traffic, load balancers and other cloud services are not included in this estimate.</i></p>
<hr>


<div id="app">
  <div class="container">
    <div class="col-md-1">
    </div>

    <b-form @submit="onSubmit">
      <div class="row align-items-center pb-3">

	<div class="col-md-3">

	  <template>
	    <span class="small">Target Cloud Provider:</span>
	    <b-form-select class="selectpicker" v-model="selectedCloud" :options="cloudOptions" v-on:change=onChangeCloud></b-form-select>
      	  </template>
	</div>

	<div class="col-md-3">
	  <template>
	    <span class="small">Region:</span>
	    <b-form-select class="selectpicker" v-model="selectedRegion" :options="regionOptions"></b-form-select>
	  </template>
	</div>
      </div>

      <template v-for="(form, index) in items">
	<div class="row pt-5">
	  <div class="col">
	    <div class="input-group input-group-sm">
	      <div class="input-group-prepend">
		<span class="input-group-text">Workload Name</span>
	      </div>
	      <b-form-input v-model="form.workloadName" type="text" class="form-control form-control-sm" name="workloadName" v-bind:placeholder="'Workload ' + (index + 1)"></b-form-input>
	    </div>
	  </div>
	  <div class="col-md-1 align-self-end">
	    <button v-on:click=onDeleteRow(index) type="button" class="btn btn-link">
	      <span class="trash-icon feather-32" data-feather="trash-2"></span>
	    </button>
	  </div>
	</div>


	<div class="form-group row pb-3">
	  <div class="col">
	    <label label-for="quantity" class="mb-1"><span class="small">Quantity</span>
	      <a v-b-popover.hover="'The number of replicas of this application'" class="btn-primary-outline">
		<span class="info-icon" data-feather="info"></span>
	      </a>
	    </label>
	    <input v-model.number="form.quantity" type="number" class="form-control form-control-sm right-text" name="quantity">
	    <span class="min-max">(1-10000)</span>
	  </div>
	  <div class="col">
	    <label label-for="utilization" class="mb-1"><span class="small">% Utilization/Month</span>
	      <a v-b-popover.hover="'Percentage of time per month this workload will be running'" class="btn-primary-outline">
		<span class="info-icon" data-feather="info"></span>
	      </a>
	    </label>
	    <input v-model.number="form.utilization" type="number" min="0" max="100" step="1" class="form-control form-control-sm right-text" name="utilization">
	    <span class="min-max">(0-100)</span>
	  </div>
	  <div class="col">
	    <label for="cpu" class="mb-1"><span class="small">vCPU</span>
	      <a v-b-popover.hover="'Number of vCPUs/hyperthreads used by the application. One physical core is composed 2 vCPUs. Fractional values are OK.'" class="btn-primary-outline">
		<span class="info-icon" data-feather="info"></span>
	      </a>
	    </label>
	    <b-form-input v-model.number="form.cpu" type="number" class="form-control form-control-sm right-text" name="cpu" step="0.01" min="0"></b-form-input>
	    <span class="min-max">(0-128)</span>
	  </div>
	  <div class="col">
	    <label for="memory" class="mb-1"><span class="small">Memory (GB)</span>
	      <a v-b-popover.hover="'Amount of memory used by the application'" class="btn-primary-outline">
		<span class="info-icon" data-feather="info"></span>
	      </a>
	    </label>
	    <input v-model.number="form.memory" type="number" class="form-control form-control-sm right-text" name="memory"  step="any" min="0">
	    <span class="min-max">(0-12000)</span>
	  </div>
	  <div class="col">
	    <label for="blockStorage" class="mb-1"><span class="small">Block Storage (GB)</span>&nbsp;
	    </label>
	    <input v-model.number="form.blockStorage" type="number" class="form-control form-control-sm right-text" name="blockStorage" min="0">
	    <span class="min-max">(0-16000)</span>
	  </div>
	  <!-- <div class="col-md-1">
	       </div>
	  -->
	</div>
      </template>
      <div class="row ">
	<div class="col align-self-end">
	  <button v-on:click=addRow type="button" class="text-primary btn-transparent">
	    <span data-feather="plus-circle"></span><span class="lead"> Add Workload</span>
	  </button>
	</div>
      </div>
      <div class="row">
	<div class="offset-md-10 col-2 pt-4">
	  <b-button class="btn-block" type="submit" variant="primary">
	    Calculate
	  </b-button>
	</div>
      </div>

    </b-form>



    <div v-if="showCost">
      <hr>
      <h3>Estimated Cloud Costs</h3>
      <container>
	<strong>
	  <!-- <div class="row justify-content-center text-right">
	       <div class="col-md-2 offset-md-6">Hourly Cost:</div>
	       <div class="col-md-2">$[[ parseFloat(cost.hourlyCost.toFixed(4)) ]]</div>
	       </div> -->
	  <div class="row justify-content-center text-right">
	    <div class="col-md-2 offset-md-8">Monthly Cost:</div>
	    <div class="col-md-2">$[[ toDollar(cost.monthlyCost) ]]</div>
	  </div>
	  <div class="row justify-content-center text-right">
	    <div class="col-md-2 offset-md-8">Yearly Cost:</div>
	    <div class="col-md-2">$[[ toDollar(cost.monthlyCost * 12) ]]</div>
	  </div>
	</strong>
      </container>

      <div class="pt-5">
	<container>
	  <table class="table">
	    <thead class="thead-light">
	      <tr>
		<th scope="col">Workload Name</th>
		<th scope="col">Instance Type</th>
		<th scope="col">Instance Hourly Cost</th>
		<th scope="col">Storage Hourly Cost</th>
		<th scope="col">Workload Montly Cost</th>
	      </tr>
	    </thead>
	    <tbody>
	      <template v-for="(item, index) in costDetails">
		<tr>
		  <td>[[ item.workloadName ]]</td>
		  <td>[[ item.instanceType ]]</td>
		  <!-- <td>$[[ parseFloat(item.instanceHourlyCost.toFixed(4)) ]]</td>
		       <td>$[[ parseFloat(item.storageCost.toFixed(4)) ]]</td>
		       <td>$[[ parseFloat(item.monthlyCost.toFixed(2)) ]]</td> -->
		  <td>$[[ parseFloat(item.instanceHourlyCost.toFixed(4)) ]]</td>
		  <td>$[[ parseFloat(item.storageCost.toFixed(4)) ]]</td>
		  <td>$[[ toDollar(item.monthlyCost) ]]</td>
		</tr>
	      </template>
	    </tbody>
	  </table>
	</container>
      </div>
      <div>
	<h3>Cloud Comparison</h3>
	<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      </div>

      <!-- <b-card class="mt-3" header="Form Data Result">
	   <pre class="m-0">[[ items ]]</pre>
	   </b-card>
	   <div v-if="showCost">
	   <b-card class="mt-3" header="Response">
	   <pre class="m-0">[[ costDetails ]]</pre>
	   </b-card>
	   </div> -->
    </div>
  </div>
</div>

<script src="static/calculator.js"></script>


<div class="pt-6 nope">
  <hr>
  <h4>Todo: larger items</h4>
  <ul>
    <li>Consider a whole page app with everything on one page</li>
    <li>Add cloud cost comparison</li>
    <li>Deal with errors better - display them in an alert bar</li>
  </ul>
  <h4>Todo: Details</h4>
  <ul>
    <li>Add instructions/blurb about how it works</li>
  </ul>
</div>

{% endblock %}
