{% extends "base.html" %}
{% set active_page = "calculator" %}

{% block title %}Cloud Cost Calculator{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-1 ">
  <h3 class="h3">On-Prem Infrastructure Questionnaire</h3>
</div>
<hr>

<div id="app">

  <div class="container">
    <div class="col-md-1">
    </div>

    <b-form @submit="onSubmit">
      <div class="row align-items-center">

	<div class="col-md-3">

	  <template>
	    <span class="small">Cloud Provider:</span>
	    <b-form-select class="selectpicker" v-model="selectedCloud" :options="cloudOptions" v-on:change=onChangeCloud id="cloud-selector"></b-form-select>
      	  </template>
	</div>

	<div class="offset-md-5 col-md-3">
	  <template>
	    <span class="small">Region:</span>
	    <b-form-select class="selectpicker" v-model="selectedRegion" :options="regionOptions"></b-form-select>
	  </template>
	</div>
      </div>

      <template v-for="(form, index) in items">
	<div class="row pt-5">
	  <div class="col">
	    <div class="input-group input-group-sm">
	      <div class="input-group-prepend">
		<span class="input-group-text">Workload Name</span>
	      </div>
	      <b-form-input v-model="form.workloadName" type="text" class="form-control form-control-sm" name="workloadName" v-bind:placeholder="'Workload ' + (index + 1)"></b-form-input>
	    </div>
	  </div>
	  <div class="col-md-1 align-self-end">
	    <button v-on:click=onDeleteRow(index) type="button" class="btn btn-link">
	      <span class="trash-icon" data-feather="trash-2"></span>
	    </button>
	  </div>
	</div>


	<div class="form-group row pb-3">
	  <div class="col">
	    <label label-for="quantity"><span class="small">Quantity</span>
	      <a v-b-popover.hover="'The number of replicas of this application'" class="btn-primary-outline">
		<span class="info-icon" data-feather="info"></span>
	      </a>
	    </label>
	    <input v-model.number="form.quantity" type="number" class="form-control form-control-sm right-text" name="quantity">
	    <span class="min-max">(1-10000)</span>
	  </div>
	  <div class="col">
	    <label label-for="utilization"><span class="small">% Utilization/Month</span>
	      <a v-b-popover.hover="'Percentage of time per month this workload will be running'" class="btn-primary-outline">
		<span class="info-icon" data-feather="info"></span>
	      </a>
	    </label>
	    <input v-model.number="form.utilization" type="number" min="0" max="100" step="1" class="form-control form-control-sm right-text" name="utilization">
	    <span class="min-max">(0-100)</span>
	  </div>
	  <div class="col">
	    <label for="cpu"><span class="small">vCPU</span>
	      <a v-b-popover.hover="'Number of vCPUs/hyperthreads used by the application. One physical core is composed 2 vCPUs. Fractional values are OK.'" class="btn-primary-outline">
		<span class="info-icon" data-feather="info"></span>
	      </a>
	    </label>
	    <b-form-input v-model.number="form.cpu" type="number" class="form-control form-control-sm right-text" name="cpu" step="0.01" min="0"></b-form-input>
	    <span class="min-max">(0-128)</span>
	  </div>
	  <div class="col">
	    <label for="memory"><span class="small">Memory (GB)</span>
	      <a v-b-popover.hover="'Amount of memory used by the application'" class="btn-primary-outline">
		<span class="info-icon" data-feather="info"></span>
	      </a>
	    </label>
	    <input v-model.number="form.memory" type="number" class="form-control form-control-sm right-text" name="memory"  step="any" min="0">
	    <span class="min-max">(0-12000)</span>
	  </div>
	  <div class="col">
	    <label for="blockStorage"><span class="small">Block Storage (GB)</span>&nbsp;
	    </label>
	    <input v-model.number="form.blockStorage" type="number" class="form-control form-control-sm right-text" name="blockStorage" min="0">
	    <span class="min-max">(0-16000)</span>
	  </div>
	  <div class="col-md-1">
	  </div>

	</div>
      </template>
      <div class="row">
	<div class="col align-self-end">
	  <button v-on:click=addRow type="button" class="btn-link btn-transparent">
	    <span data-feather="plus-circle"></span> Add Workload
	  </button>
	</div>
      </div>
      <div class="row">
	<div class="offset-md-9 col-2 pt-4">
	  <b-button class="btn-block" type="submit" variant="primary">
	    Calculate
	  </b-button>
	</div>
      </div>

    </b-form>

    <hr>

    <div v-if="showCost">
      <h3>Estimated Cloud Costs</h3>
      <container>
	<strong>
	  <div class="row justify-content-center text-right">
	    <div class="col-md-2 offset-md-6">Hourly Cost:</div>
	    <div class="col-md-2">$[[ parseFloat(cost.hourlyCost.toFixed(4)) ]]</div>
	  </div>
	  <div class="row justify-content-center text-right">
	    <div class="col-md-2 offset-md-6">Monthly Cost:</div>
	    <div class="col-md-2">$[[ parseFloat((cost.hourlyCost * 720).toFixed(2)) ]]</div>
	  </div>
	  <div class="row justify-content-center text-right">
	    <div class="col-md-2 offset-md-6">Yearly Cost:</div>
	    <div class="col-md-2">$[[ parseFloat((cost.hourlyCost * 8760).toFixed(2)) ]]</div>
	  </div>
	</strong>
      </container>
      <h3>Estimate Details</h3>
      <container>
	<table class="table">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">Workload Name</th>
	      <th scope="col">Instance Type</th>
	      <th scope="col">Instance Hourly Cost</th>
	      <th scope="col">Storage Hourly Cost</th>
	      <th scope="col">Workload Hourly Cost</th>
	    </tr>
	  </thead>
	  <tbody>
	    <template v-for="(item, index) in costDetails">
	      <tr>
		<td>[[ item.workloadName ]]</td>
		<td>[[ item.instanceType ]]</td>
		<td>$[[ parseFloat(item.instanceHourlyCost.toFixed(4)) ]]</td>
		<td>$[[ parseFloat(item.storageCost.toFixed(4)) ]]</td>
		<td>$[[ parseFloat(item.hourlyCost.toFixed(2)) ]]</td>
	      </tr>
	    </template>
	  </tbody>
	</table>
      </container>
    </div>
    <!-- <b-card class="mt-3" header="Form Data Result">
	 <pre class="m-0">[[ items ]]</pre>
	 </b-card>
	 <div v-if="showCost">
	 <b-card class="mt-3" header="Response">
	 <pre class="m-0">[[ costDetails ]]</pre>
	 </b-card>
	 </div> -->
  </div>
</div>

<script src="static/calculator.js"></script>

<div class="container">
  <ul>Todo: larger items
    <li>Deal with errors better - display them in an alert bar</li>
    <li>Add cloud cost comparison</li>
  </ul>
  <ul>Todo: Details
    <li><strike>Label for which cloud we're selecting</strike></li>
    <li>change tooltips to click? https://bootstrap-vue.js.org/docs/components/tooltip</li>
    <li>Add instructions/blurb about how it works</li>
    <li><strike>Note when an instance is t-unlimited</strike></li>
    <li><strike>delete cost when user changes the cloud</strike></li>
    <li><strike>add azure</strike></li>
    <li><strike>add aws block storage costs</strike></li>
    <li><strike>add cloud and add region</strike></li>
    <li><strike>resize everything</strike></li>
    <li><strike>fix return key deleting a row</strike></li>
  </ul>
</div>

{% endblock %}
