{% extends "base.html" %}
{% set active_page = "questionnaire" %}

{% block title %}Cloud Cost Calculator{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-1 ">
  <h3 class="h3">On-Prem Infrastructure Questionnaire</h3>
</div>

<div class="container">
  <form action="cost" method="POST" role="form" class="form-horizontal">
        <div class="form-group row">
          <label for="inputAppCount" class="col-sm-2 col-form-label">Number of Application VMs</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="inputAppCount[]" placeholder="app count">
          </div>
        </div>
        <div class="form-group row">
           <label for="inputMemRes" class="col-sm-2 col-form-label">Memory Reservation / VM</label>
           <div class="col-sm-10">
            <input type="number" class="form-control" id="inputMemRes[]" placeholder="GiB">
           </div>
        </div>
        <div class="form-group row">
          <label for="inputCpuRes" class="col-sm-2 col-form-label">CPU Reservation / VM</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="inputCpuRes[]" placeholder="vCPU count">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">VM uptime / year</label>
              <input type="text" class="form-control" id="inputUptime[]">
            </div>
            <div class="form-group col-md-4">
              <label for="inputUptimeUnit">Unit</label>
              <select id="inputUptimeUnit[]" class="form-control">
                <option selected>Choose...</option>
                <option>Minutes</option>
                <option>Hours</option>
                <option>Days</option>
              </select>
            </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="region">Stateless / Stateful</label>
          </div>
          <select class="custom-select" id="stateful[]">
            <option selected>Choose...</option>
            <option value="1">Stateless</option>
            <option value="2">Stateful</option>
           </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="region">Destination Cloud Region</label>
          </div>
          <select class="custom-select" id="region[]">
            <option selected>Choose...</option>
            <option value="1">US East (N. Virginia)</option>
            <option value="2">US East (Ohio)</option>
            <option value="3">US West (N. California)</option>
            <option value="4">US West (Oregon)</option>
            <option value="5">Asia Pacific (Hong Kong)</option>
            <option value="6">Asia Pacific (Mumbai)</option>
            <option value="7">Asia Pacific (Seoul)</option>
            <option value="8">Asia Pacific (Singapore)</option>
            <option value="9">Asia Pacific (Sydney)</option>
            <option value="10">Asia Pacific (Tokyo)</option>
            <option value="11">Canada (Central)</option>
            <option value="12">China (Beijing)</option>
            <option value="13">China (Ningxia)</option>
            <option value="14">EU (Frankfurt)</option>
            <option value="15">EU (Ireland)</option>
            <option value="16">EU (London)</option>
            <option value="17">EU (Paris)</option>
            <option value="18">EU (Stockholm)</option>
            <option value="19">South America (São Paulo)</option>
           </select>
        </div>
      <div class="form-group row">
          <button type="submit" class="btn btn-primary">AWS Compute Cost Estimate</button>
      </div>
  </form>
</div>


{% endblock %}

<!-- {% block chartjs %}
     <script src="static/Chart.js/2.7.3/Chart.min.js"></script>
     <script>
     (function () {
     'use strict'
     var ctx = document.getElementById('monthlyChart')
     var monthlyChart = new Chart(ctx, {{ monthly_chart|tojson }} )
     ctx = document.getElementById('categoryChart')
     var categoryChart = new Chart(ctx, {{ category_chart|tojson }} )
     }())
     </script>
     {% endblock %} -->
